# Map the identities the history was written with onto the names the copyright
# headers use.
Silvio Schmalfuß <schmalfuss@tropos.de> schmalfuss <schmalfuss@tropos.de>
Sergey Lesnik <sergey.lesnik@wikki-gmbh.de> <s.lesnik@wikki-gmbh.de>
